html,body{
    height: 100%;
}

body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placard{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    position: relative;

    background-color: white;
    height:350px;
    width:500px ;
    border-radius: 8%;
    box-shadow:5px 8px 10px 10px #aaa4a4;

    padding: 10px;
    text-align: center;
    box-sizing: border-box;

    /* bg */
    overflow: hidden;
    
}

#emoji{
    font-size: 5rem;
    /* background-color: greenyellow; */
    
}

#ask{
    font-size: 2.2rem;
    font-weight:20px;
    font-family: Helvetica, Arial, sans-serif;    
    /* background-color: aqua; */
    height: 30%;
    width: 80%;
    text-align: center;

    line-height:50px;
    padding-left: 10%;
    padding-right: 10%;

}

#yesno{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#yes{
    background-color: rgb(248, 107, 130);
    height: 80%;
    width: 30%;
    border-radius: 999px;
    border-color:white;
    
    text-align: center;
    font-size: 40px;
    color: white;

    cursor: pointer;

}

#no{
    background-color: whitesmoke;
    height: 80%;
    width: 30%;
    border-radius: 999px;
    border-color:white;

    text-align: center;
    font-size: 40px;
    color: rgb(198, 198, 198);

    cursor: pointer;
    position:relative;
}

#emoji-layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

